<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="RecycleBersama"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar">

        <!-- Launcher screen -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- User flow -->
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />

        <!-- Dashboards -->
        <activity android:name=".SellerDashboardActivity" />
        <activity android:name=".BuyerDashboardActivity" />

        <!-- Seller actions -->
        <activity android:name=".CreateListingActivity" />
        <activity android:name=".ProfileActivity" />

        <!-- Buyer actions (placeholder if needed) -->
        <activity android:name=".PurchaseConfirmationActivity" />

    </application>

</manifest>
